*{margin: 0; padding: 0;}
body{ background:  }

/* style header */
#header{width: 100%; height: 90px; background: #634E0A; }
#top_head{width: 100%; height: 30px; background: #9E7C0F; }
#link_media{width: 33%;height: 30px; float: left; }
#link_media ul{ list-style-type: none; margin-left: 30%;}
#link_media ul li { float: left; padding-left: 4%; padding-right: 4%; box-sizing: border-box; cursor: pointer; }
#link_media ul li a{text-decoration: none; line-height: 30px;color: #fff;}

#date{width: 33%;height: 30px; float: left; color: #fff;font-size: 15px; font-weight: bold; text-align: center; line-height: 30px;font-family: Comic Sans Ms;}


#title {width: 33; float:center ;height: 30px;}  
#title p {font-family: Comic Sans Ms; color: #fff; font-size: 14px; font-weight: bold; text-align: center; line-height: 30px; margin-left: 9%;}


#logo a img {width: 140px; height: 80px; margin-left: 7.5%; margin-top: -0.7%; float: left;  }

#menu{transition:ALL 0.2s ease-in-out;color: #fff; width: 4%; height: 60px; float: left; margin-left: 2%; border-right: 1px solid rgba(0, 0, 0, 0.4);border-left: 1px solid rgba(0, 0, 0, 0.4);}
#menu h2 {text-align: center; line-height: 60px;  cursor: pointer;}

#menu:hover ul{ visibility: visible; opacity: 0.9;}
#menu:hover{ background: #fff;overflow: 0; color: #886811;transition:ALL 0.4s ease-in-out}
#menu ul {visibility: hidden; padding-top: 0%; box-sizing: border-box; list-style-type: none; position: absolute; background: #fff; width: 15%;}
#menu ul li {transition:ALL 0.2s ease-in-out;border-left: 4px solid #fff; width: 100%; height: 40px; font-size: 14px;  line-height: 42px;}
#menu ul li a{font-family: Comic Sans Ms;transition:ALL 0.2s ease-in-out;display: block; text-decoration: none;color:#000 ; font-size: 14px; font-weight: bold;}
#menu ul li a i { width: 18%; text-align: center;}
#menu ul li:hover{background:#886811 ;border-left: 4px solid #ffc014;}
#menu ul li:hover a{color: #fff; padding-left: 5%;}

#serch_bar{ width: 50%; height: 60px; float: left; margin-left: 2%;}
#serch_bar form input {box-sizing: border-box; width: 80%; height: 35px; outline: none; background: #fff; margin-top: 2%; border-top-left-radius: 20px; border-bottom-left-radius: 20px;  border: 0.5px; padding-left: 3.5%;}
#serch_bar form button {width: 5%; height: 35px; outline: none; background: #fff; margin-top: 2%; border: 0.5px; border-bottom-right-radius:20px ; border-top-right-radius: 20px; margin-left: -3%; padding-right: 2%; cursor: pointer;}

#login { color: #fff;float: left; width: 10%; height: 60px; margin-left: -6.5%; cursor: pointer;border-right: 1px solid rgba(0, 0, 0, 0.4);border-left: 1px solid rgba(0, 0, 0, 0.4);}
#login:hover{background: #fff;overflow: 0; color: #886811;transition:ALL 0.4s ease-in-out ;opacity: 0.95;}
#login h4 { text-align: center; line-height: 60px;font-family: Comic Sans Ms;}
#login:hover form{ visibility: visible; opacity: 0.9;}


#login form{transition: ALL 0.5s ease-in-out; visibility: hidden;opacity: 0; position: absolute; padding: 2%; background: #fff; box-sizing: border-box; width: 20%; height:380px; border-bottom-right-radius: 4%; border-bottom-left-radius: 4%;}
#login form h3{font-family: Comic Sans Ms; margin-top:5% ; width: 80px; height: 80px; background: #886811; color: #fff; line-height: 80px; font-size: 40px; border-radius: 100%; }
#login form h4{font-family: Comic Sans Ms;color:#886811;font-weight: bold; font-size: 17px;}
#login form h5{ font-family: Comic Sans Ms;font-weight: bold;  float: right; margin-top: 4%; text-decoration: none;}
#login form h5 a{text-decoration: none; color:#886811;}
#login form center button{font-family: Comic Sans Ms;transition:ALL 0.4s ease-in-out; cursor: pointer; font-weight: bold; outline: none; border-width: 0px; background:#886811; color: #FFF ; border-radius: 30px; width: 90%; height: 30px;margin-top: 15%;}
#login form center button:hover{border-radius: 0px;}

#input_email{width: 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin-bottom: 10%; height: 30px; line-height: 30px;}
#input_email input{background: none; outline: none; border-width: 0px; padding-left: 3%;}
#input_email i{  color: #886811;}


#input_pass {width: 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin-bottom: 5%; height: 30px; line-height: 30px;}
#input_pass input{background: none; outline: none; border-width: 0px;padding-left: 3%;}
#input_pass i{  color: #886811;}

#singup {color: #fff; float: left;width: 10%; height: 60px;cursor: pointer;border-right: 1px solid rgba(0, 0, 0, 0.4);border-left: 1px solid rgba(0, 0, 0, 0.4);}
#singup:hover{background: #fff;overflow: 0; color: #886811;transition:ALL 0.4s ease-in-out ;opacity: 0.95;}
#singup h4 {text-align: center; line-height: 60px;font-family: Comic Sans Ms;}
#singup:hover form{ visibility: visible; opacity: 0.9;}

#singup form{transition: ALL 0.5s ease-in-out; visibility: hidden; opacity: 0; position: absolute; padding: 2%; background: #fff; box-sizing: border-box; width: 20%; height:480px; border-bottom-right-radius: 4%; border-bottom-left-radius: 4%;}
#singup form h3{font-family: Comic Sans Ms; margin-top:5% ; width: 80px; height: 80px; background: #886811; color: #fff; line-height: 80px; font-size: 40px; border-radius: 100%; }
#singup form h4{font-family: Comic Sans Ms;color:#886811;font-weight: bold; font-size: 17px;}
#singup form h5{ font-family: Comic Sans Ms;font-weight: bold;  float: right; margin-top: 4%; text-decoration: none;}
#singup form h5 a{text-decoration: none; color:#886811;}
#singup form center button{font-family: Comic Sans Ms;transition:ALL 0.4s ease-in-out; cursor: pointer; font-weight: bold; outline: none; border-width: 0px; background:#886811; color: #FFF ; border-radius: 30px; width: 90%; height: 30px;}
#singup form center button:hover{border-radius: 0px;}




/* END style header */

/* style slider */
#slider{width: 100%; height: 550px; }
#slider img {width: 100%; height: 550px; margin-top: -0.8%;}
#slider hr { width: 100%; background-color:#886811; height: 3px; position: absolute;}

/* End style slider */


/* style categorie */

#categorie { width: 100%;height: 650px; padding: 5px;box-sizing: border-box; background: #e6e6e6;;}
#categorie h2 {font-family: Comic Sans Ms; text-align: center; text-decoration: solid; font-weight: bold; margin-top: 1.5%;}
#categorie h6 hr { width: 16%;margin-top: 1%; height: 2px; background-color:#9CB536; position: absolute;margin-left: 41.6%;}

#categorie ul{ list-style-type: none;}
#categorie ul li {opacity: 0.8; transition:ALL 0.2s ease-in-out; width: 17%; height: 150px; background: #fff; float: left;  margin-left: 2.5%; margin-top: 3.5%; margin-bottom: 3%; border-radius: 10px; border: 0.5px solid #000; cursor: pointer;}
#categorie ul li h4{margin-top: -4.3%; position: absolute; margin-left: 2.6%; text-shadow: 1px 1px #fff; font-size: 17px; font-family: Comic Sans Ms; font-weight: bold;}
#categorie ul li a i{margin-top: 3%; position: absolute; margin-left: -10.1%; font-size: 40px;}
#categorie ul li img {width: 100%; height: 150px; border-radius: 10px; filter: blur(1px); -webkit-backdrop-filter: blur(1px); }
#categorie ul li:hover{ transition:ALL 0.4s ease-in-out; border-radius:50%;}
#categorie ul li img:hover{border-radius: 50%; transition:ALL 0.4s ease-in-out;}

#btn_more button{ width:14%; height:  35px; border-radius: 6px; background: #fff; border: 1px solid #000; cursor: pointer; margin-top: 2.5%;}
#btn_more button:hover{ background:#000;}
#btn_hover{float: right; padding-right: 4%; font-size: 14px; font-weight: bold; color: #000;}
#btn_hover:hover {float: right;  padding-right: 4%; font-size: 14px; font-weight: bold; color: #fff;transition:ALL 0.5s ease-in-out;}
#btn_hover h4{float: right; margin-left: 4px;font-family: Comic Sans Ms;}

/* End style categorie */


/*  style top courses*/
#top_courses { width: 100%; box-sizing: border-box;background: #fff;   }
#top_courses h2 {font-family: Comic Sans Ms; text-align: center;  font-weight: bold; margin-top: 1.5%;margin-top: 2%;}
#top_courses hr { width: 20%;margin-top: 1%; height: 2px; background-color:#9CB536;}

#top_courses ul{ list-style-type: none;}
#top_courses ul li { transition:ALL 0.2s ease-in-out; width: 17%; height: 270px; background: #fff; float: left;border-radius: 4%; margin-left: 2.5%; margin-top: 3.5%; margin-bottom: 3%;  border: 0.5px solid #000; cursor: pointer;}
#top_courses ul li img {width: 100%; height: 150px; border-top-left-radius:4% ;border-top-right-radius: 4%; }
#top_courses ul li:hover{ transform: scale(1.1);}
#top_courses ul li img:hover{ transition:ALL 0.6s ease-in-out;}

#top_courses ul li h4 {font-family: Comic Sans Ms; text-align: center; font-weight: bold; font-size: 19px; margin-top: 5%;}
#top_courses ul li center hr { background: #000; opacity: 0.3; width: 180px; height: 1px; margin-top: 17%;}

/*  Rating bar*/
#ratingbar {margin-top: 3.5%;}
#ratingbar i { color: #a6ff00;width: 15px; height: 15px; }

/* End Rating bar*/


/* End  style top courses*/


/*  Style footer */
#footer{ width: 100%;height: 400px; box-sizing: border-box; background: #634E0A; margin-top: 2%;}
#footer ul{list-style-type: none;}
#footer ul li{width: 33%; float: left;  }
#footer ul li h2{ color: #fff;font-family:Comic Sans Ms ;margin-left: 25%; margin-top: 5%;}
#footer ul li p {padding-top: 3%; margin-left: 17%; padding-right:  5%; line-height: 20px; color: #fff; font-family:Comic Sans Ms ;}
#footer ul li img {margin-left: 17%; width: 160px; height: 95px; }
#footer ul li textarea {padding-top: 1%; padding-left: 3%;font-size: 14px; margin-top:5% ; margin-left: 110px; border-radius: 4px;height: 90px; width: 63%;}

#footer ul li i{ color: #fff;float: left; margin-top: 5%;padding-left: 20%;}
#info p { padding-left: 10%; margin-top: 6%;}
#info h6 p{ color: #fff;font-family:Comic Sans Ms ; font-size: 15px; padding-left: 10%;margin-top: 1.5%;}

#input_msg{ width: 80%; height: 30px;padding: 2%; }
#input_msg i {margin-bottom: -5%; width: 10%;}
#input_msg input{border-radius: 4px; border-width: 0px; background: none; outline:none; height: 30px; width: 80%; border-width: 0px ; margin-left: 100px; margin-top: -20px; background: #fff; padding-left: 3%;}

#footer ul li button{cursor: pointer; margin-top: 4%; font-size: 16px; font-weight: bold; font-family:Comic Sans Ms ; background: #16D43C; border-width: 0px; border-radius: 3%; width: 30%; height: 30px; color: #fff; margin-left: 17%;}
#footer ul li hr { width: 20%; margin-left: 25%; margin-top: 2%; height: 2px; background:#16D43C; }

#bottom_footer{width: 100%; height: 60px; background: #9E7C0F;; margin-top: 1%; }
#bottom_footer h4{ text-align: center; font-size: 20px; font-weight: bold; font-family: Comic Sans Ms ; color: #fff; line-height: 60px;}

/* End Style footer */
